body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Appcontainer {
  width: 100%;
  height: 100%;
  background: #030617
}

.rowContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.ColumnContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarParentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width:  19vw;
  z-index: 2;
}

@media (min-width: 1800px) and (max-width: 30000x) {
  .sidebarParentContainer {
    width: 340px;
  }
}

@media (min-width: 400px) and (max-width: 950px) {
  .sidebarParentContainer {
    width: 30vw;
  }
}


.createChatContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  width: 19vw;
  height: 100px;
  bottom: 0;
}

.inputPopUp{
  padding-top: 1%;

  width: 100%;
  display: flex;
  justify-content: center;
}


@media (min-width: 400px) and (max-width: 950px)  {
  .createChatContainer {
    width: 30vw; /* Ancho para dispositivos móviles */
  }
}

.sidebarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  background-color: #030617;
  height: 85%;
  width: 100%;
  flex-wrap:  nowrap;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
}

&::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 180px;
}

&::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 180px;
}
}

.sidebarContainerAni{
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.ChatboxContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  height: 100vh;
  width: 81vw;
  z-index: 1;
}
@media (min-width: 1800px) and (max-width: 30000x) {
  .ChatboxContainer {
    width: 100%;
  }
}



@media (min-width: 400px) and (max-width: 950px) {
  .ChatboxContainer {
    width: 70vw;
  }
}

.ChatboxContainerClose{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  height: 100vh;
  width: 97vw;
  z-index: 1;
}




@media (min-width: 701px) and (max-width: 1100px) {
  .ChatboxContainerClose {
    width: 92vw;
  }
}

@media (min-width: 400px) and (max-width: 700px) {
  .ChatboxContainerClose {
    width: 89vw;
  }
}

.sidebarClosed{
  display: flex;
  flex-direction: column;
  align-items: "center";
  background-color: rgba(49, 24, 24, 0.39);
  height: 100vh;
  width: 3vw;
}

@media (min-width: 701px) and (max-width: 1100px) {
  .sidebarClosed {
    width: 8vw;
  }
}

@media (min-width: 400px) and (max-width: 700px) {
  .sidebarClosed {
    width: 11vw;
  }
}

.sidebarClosedAni{
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.ChatHistoryPrefabContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #282B3A;
  height: 72px;
  width: 95%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ChatHistoryPrefabContainer:hover{

  background-color: #151827;

}

.onTopButtons{
  position: fixed;
  bottom: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ededf8;
  cursor: pointer;
  z-index: 100;
  height: 45px;
  width: 45px;

  border-color: rgba(131,131,183,255);
  border-style:solid;
  border-width: thin;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.ChatHistoryPlaceHolderContainer{
  height: 80px;
  width: 95%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sidebarInput{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-color: rgb(255, 255, 255);
}

.ChatHistoryText{
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 0;
  color: white;
  font-size: .8vw;
}

@media (min-width: 740px) and (max-width: 1900px) {
  .ChatHistoryText {
    font-size: 15px;
  }
}

@media (min-width: 510px) and (max-width: 739px) {
  .ChatHistoryText {
    font-size: 12px;
  }
}

.ChatHistoryTime{
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 0;
  color: white;
  font-size: .8vw;
  font-weight: bold;
  line-height: 1.2 !important;
}

@media (min-width: 740px) and (max-width: 1900px) {
  .ChatHistoryTime {
    font-size: 15px;
  }
}

@media (min-width: 510px) and (max-width: 739px) {
  .ChatHistoryTime {
    font-size: 12px;
  }
}

.MiniMenuText{
  
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
}

@media (min-width: 740px) and (max-width: 1900px) {
  .MiniMenuText {
    font-size: 15px;
  }
}

@media (min-width: 510px) and (max-width: 739px) {
  .MiniMenuText {
    font-size: 12px;
  }
}

.TitleText{
  font-size: 25px;
  font-weight: 450;
  color: white;
}

@media (min-width: 100px) and (max-width: 1800px) {
  .TitleText {
    font-size: 20px;
  }
}

.TitleTextChat{
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
  
}

@media (min-width: 510px) and (max-width: 1100px) {
  .TitleTextChat {
    font-size: 20px;
  }
}



.overrideStyle{
  background-color: white !important; 
  border-color: white!important; 
  height: 100% !important;
}

.overrideStyleChatContainer{
  background-color: white !important; 
  border-color: white!important; 
}

.overrideStyleInput{
  background-color: white !important;
  border-color: white!important; 
  padding-left: 40px !important;
  padding-right: 0px !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  
}
.overrideStyleMessageList{

  border-color: rgba(0, 0, 0, 0)!important; 
  overflow-anchor: auto;
  height: 1px;
}

.imgClear{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  display: flex;
}

.CreateNewChatText{
  color: white;
  margin-bottom: 0;
  font-size: 1.2vw;
}

@media (min-width: 900px) and (max-width: 1700px) {
  .CreateNewChatText {
    font-size: 1.8vw;
  }
}

@media (min-width: 400px) and (max-width: 899px) {
  .CreateNewChatText {
    font-size: 2.5vw;
  }
}

@media (max-width: 768px) {
  .CreateNewChatText {
    font-size: 3vw; /* Ancho para dispositivos móviles */
  }
}

.iconSideBar{
  width: 30px;
}

@media (max-width: 768px) {
  .iconSideBar {
    width: 20px; /* Ancho para dispositivos móviles */
  }
}

.iconClearSideBar{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  display: flex;
  width: 50px;
}

@media (max-width: 768px) {
  .iconSideBar {
    width: 20px; /* Ancho para dispositivos móviles */
  }
}

.placeHolderOverride{
  height: 100% !important;
  width: 100% !important;
  
}

.placeHolderOverrideChat{
  height: 100% !important;
  width: 100% !important;
  position: relative;
  right: 10px;
}

.messagePlaceHolderContainer{
  padding-top: 20px;
  width: 200px;
  height: 50px;
  overflow: hidden;
}


.cs-message--incoming .cs-message__content {
  background-color: #EEEEF8 !important;
  border-radius: 15 !important;
  -webkit-border-radius: 15 !important;
  -moz-border-radius: 15 !important;
  -ms-border-radius: 15 !important;
  -o-border-radius: 15 !important;
}

.cs-message__content{
  background-color: #7678ED !important;
}

.cs-message__html-content{
  color: rgb(0, 0, 0);
}

.errorMessage{
  color: red;
  text-align: center;
  font-size: .8vw;
}

.popUpContainer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 1000;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content:  center;
  
}

.popUpMessage{
  width: 35vw;
  min-width: 450px;
  max-width: 620px;
  max-height: 300px;
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.178);
  border-radius: 20px;
  height: 32vh;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}

.styleButtonPopUpDesktop {
  background-color: #030617;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.178);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  width: 14vw;
  min-width: 180px;
  max-width: 265px;
  max-height: 170px;
  padding-top: 10px;
  font-size: 1.5vw;
  -webkit-border-radius:10;
  -moz-border-radius:10;
  -ms-border-radius:10;
  -o-border-radius:10;
}

.styleButtonPopUpLogin {
  background-image: linear-gradient(rgb(127, 119, 240), rgb(222, 103, 238));
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.178);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  min-height: 50px;
  min-width: 180px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.styleCancelButtonPopUpDesktop {
  background-color: #444966;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.178);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  width: 14vw;
  min-width: 180px;
  max-width: 265px;
  max-height: 170px;
  padding-top: 10px;
  font-size: 1.5vw;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.input {
  width: 100%;
  height: 50px;
  padding: 12px;
  border-radius: 5px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  text-align: center;
  box-shadow: 0px 0px 20px -18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.typingOverride{
  position: inherit !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.cs-message-input__content-editor-container-input__content-editor{
  background-color: #EEEEF8 !important;
  color: #000000;
  
}
.cs-message-input__content-editor-wrapper{
  background-color:#EEEEF8 !important ;
  color: #000000;
  border-radius: 50px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}
.cs-message-input__content-editor{
  background-color:#EEEEF8 !important ;
  color: #000000;
  width: 100%;
  padding-right: 30px;
  
}

.cs-message--outgoing .cs-message__content{
  border-radius: .7em .7em .7em .7em !important;
  -webkit-border-radius: .7em .7em .7em .7em !important;
  -moz-border-radius: .7em .7em .7em .7em !important;
  -ms-border-radius: .7em .7em .7em .7em !important;
  -o-border-radius: .7em .7em .7em .7em !important;
}

.cs-message--incoming .cs-message__content{
  border-radius: .7em .7em .7em .7em !important;
  -webkit-border-radius: .7em .7em .7em .7em !important;
  -moz-border-radius: .7em .7em .7em .7em !important;
  -ms-border-radius: .7em .7em .7em .7em !important;
  -o-border-radius: .7em .7em .7em .7em !important;
}

.cs-message--outgoing .cs-message__html-content{
  color: rgb(255, 255, 255) !important;
  
}

.cs-message-input__content-editor-wrapper {
  padding: 1.2em .9em !important;
  
}

.cs-message-input__tools{
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  right: 60px;
  
}
.section.cs-message.cs-message--outgoing{
  padding-bottom: 5px;
}

section.cs-message.cs-message--incoming{
  padding-bottom: 5px;
}

.section.cs-message.cs-message--outgoin{
  padding-top: 10px;
}

.LoginContainer{
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 768px) {
  .LoginContainer {
    width: 90vw; /* Ancho para dispositivos móviles */
  }
}

.input-container{
  width: 100%;
}

.subText{
  font-size: 2vw;
}

@media (max-width: 768px) {
  .subText {
    font-size: 5vw; /* Ancho para dispositivos móviles */
  }
}

.buttonText{
  margin: auto;
}

.WelcomeTextContainer{
  position: relative;
  top: -60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 800px) {
  .WelcomeTextContainer {
    top: -65%; /* Ancho para dispositivos móviles */
  }
}

.WelcomeText{
  color: gray;
  font-weight: 400;
  font-size: 20px;
}

@media (min-width: 700px) and(max-width: 800px) {
  .WelcomeText {
    font-size: 10px; 
  }
}

@media (min-width: 801px) and (max-width: 1100px){
  .WelcomeText {
    font-size: 15px; 
  }
}


.sidebarMiniMenuButton{
  background-color:rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0);
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 5px;
  
}

.sidebarMiniMenuButton:hover{

  background-color: #dddddd;

}

section.cs-message.cs-message--incoming{
  padding-bottom: 5px !important;
}

.no-styles {
  background-color: transparent;
  color: black;
}
